.slider-inner img{
  max-width: 200%;
  min-width: 25%;
}
.slider-inner{
  float: left;
}

.slider-inner img{
  display: none;
}
.slider-inner img.active{
  display: inline-block;
}

.prev, .next{
  float: left;
  margin-top: 5%;
  cursor: pointer;
}

.prev{
  position: relative;
  z-index: 100;
}
.next{
  position: relative;
  z-index: 100;
}